.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  background-color: #565656;
  font-size: 3rem;
  font-weight: 900;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 10vh;
}

.page {
  background: #ffffff;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  width: 90vw;
  max-width: 900px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.st-flags {
  display: flex;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  margin: 0 2rem 4rem 2rem;
}

.button {
  background: var(--grey2);
  color: var(--grey1);
  font-size: 2rem;
  font-weight: 700;
  padding: 4rem;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px 0 rgba(166, 166, 166, 0.5);
  cursor: pointer;
}

.button:hover {
  background: #e6e6e6;
}

.btn-square {
  padding: 4rem;
}

.link {
  color: blue;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.alternatives {
  margin-top: 2rem;
}

.grid-view {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.alt {
  background: #f0f0f0;
  border: 1px solid #e6e6e6;
  margin: 1rem;
  width: 80vw;
  max-width: 700px;
  text-align: center;
  padding: 0.9rem;
  font-size: 1.6rem;
  position: relative;
}
.grid-view .alt {
  display: grid;
  place-items: center;
  width: 35vw;
  max-width: 400px;
  height: 120px;

}

.alt-green {
  color: #ffffff;
  background: #38b134;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.alt-red {
  color: #ffffff;
  background: #b13434;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.alt-label {
  position: absolute;
  right: -10px;
  top: 1rem;
  color: #ffffff;
  font-size: 1.2rem;
  background: #3e3e3e;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 24.5px;
  padding: 0.2rem 1rem;
}

.quick-results {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  background: #3e3e3e;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
  border-radius: 24.5px;
  padding: 0.7rem 2rem;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.re-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  margin: 2rem 1rem;
  text-align: center;
}
.re-home {
  margin-top: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flex-row  {
  display: flex;
  width: 80%;
}

.subprocessor-table {
  text-align: left;
  border-spacing: 2rem 1rem;
}

.cookie-page {
  margin: 2rem;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(6, 200px);
}

h3 {
  display: inline-block;
}

.color-box {
  width: 50px;
  height: 50px;
}
